.converstation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-right: 1px solid rgb(230, 230, 230);
  height: 280px;
  max-width: 400px;
}

.converstation__messages {
  display: flex;
  flex-direction: column-reverse;
  font-size: 16px;
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

.converstation__messages-you {
  margin: 5px 5px 0 auto;
  max-width: 85%;
  word-wrap: break-word;
  padding: 4px;
  background-color: rgb(227, 227, 240);
  border-radius: 7px;
  border-bottom-right-radius: 0px;
}

.converstation__messages-enemy {
  margin: 5px auto 0 5px;
  max-width: 85%;
  word-wrap: break-word;
  padding: 4px;
  background-color: rgb(240, 240, 241);
  border-radius: 7px;
  border-bottom-left-radius: 0px;
}