.waiting-screen {
  width: 400px;
  margin: auto;
  text-align: center;
}

.waiting-screen input {
  width: 385px;
  margin: 0 auto;
  border: 1px solid #979797;
  height: 24px;
  border-radius: 2px;
  outline: none;
  padding: 0 4px;
}